/**
  Global styling rules to be used throughout the application
 */

.seo-title {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  position: absolute;
  z-index: -99999999;
  top: -99999999px;
  left: -99999999px;
}

.sidebar-container, .loader-container, .char-count-container {
  font-family: monospace;
}

main {
  min-height: 100vh;
  background-color: $color-white;
}

.plume {
  ::selection {
    background: $plume-yellow; /* WebKit/Blink Browsers */
    opacity: 0.1;
  }

  ::-moz-selection {
    background: $plume-yellow-300; /* Gecko Browsers */
  }

  input,
  textarea,
  [contenteditable] {
    caret-color: $plume-yellow;
  }

  .hoverable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include transition();

    &:hover {
      color: $plume-yellow !important;
      cursor: default;
    }
  }

  .clickable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $plume-yellow;
    border-color: $plume-yellow;
  }
}

.plume.primary-blue {
  ::selection {
    background: $plume-blue; /* WebKit/Blink Browsers */
    opacity: 0.1;
  }

  ::-moz-selection {
    background: $plume-blue-300; /* Gecko Browsers */
  }

  input,
  textarea,
  [contenteditable] {
    caret-color: $plume-blue;
  }

  .hoverable {
    @include transition();

    &:hover {
      color: $plume-blue !important;
      cursor: default;
    }
  }

  .clickable {
    &:hover {
      cursor: pointer;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $plume-blue;
    border-color: $plume-blue;
  }
}

.plume.primary-red {
  ::selection {
    background: $plume-red; /* WebKit/Blink Browsers */
    opacity: 0.1;
  }

  ::-moz-selection {
    background: $plume-red-300; /* Gecko Browsers */
  }

  input,
  textarea,
  [contenteditable] {
    caret-color: $plume-red;
  }

  .hoverable {
    @include transition();

    &:hover {
      color: $plume-red !important;
      cursor: default;
    }
  }

  .clickable {
    &:hover {
      cursor: pointer;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $plume-red;
    border-color: $plume-red;
  }
}

.plume.primary-green {
  ::selection {
    background: $plume-green; /* WebKit/Blink Browsers */
    opacity: 0.1;
  }

  ::-moz-selection {
    background: $plume-green-300; /* Gecko Browsers */
  }

  input,
  textarea,
  [contenteditable] {
    caret-color: $plume-green;
  }

  .hoverable {
    @include transition();

    &:hover {
      color: $plume-green !important;
      cursor: default;
    }
  }

  .clickable {
    &:hover {
      cursor: pointer;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $plume-green;
    border-color: $plume-green;
  }
}
