/**
  Variables to be used throughout the application
 */

$plume-yellow: rgba(244, 180, 0, 1);
$plume-yellow-900: rgba(244, 180, 0, 0.9);
$plume-yellow-800: rgba(244, 180, 0, 0.8);
$plume-yellow-700: rgba(244, 180, 0, 0.7);
$plume-yellow-600: rgba(244, 180, 0, 0.6);
$plume-yellow-500: rgba(244, 180, 0, 0.5);
$plume-yellow-400: rgba(244, 180, 0, 0.4);
$plume-yellow-300: rgba(244, 180, 0, 0.3);
$plume-yellow-200: rgba(244, 180, 0, 0.2);
$plume-yellow-100: rgba(244, 180, 0, 0.1);

$sidebar-width: 250px;

$page-padding: 10px;

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
                (
                        xs: 0,
                        sm: 576px,
                        md: 768px,
                        lg: 992px,
                        xl: 1200px
                ),
                $grid-breakpoints
);
